@model IEnumerable<Riipen_SSD.ViewModels.ParticipantViewModels.ContestTeamVM>

@{
    ViewBag.Title = "Contests";
}

<style>

    tr:nth-child(2){
          color:blue;
        font-weight:bold;

    }
   table tr:nth-child(2) a {

        color:BLUE;
        font-weight:bold;
    }
</style>

<p>
    @if (ViewBag.ContestName != null) {
        <span> All teams for @ViewBag.ContestName</span>
    }


   
  </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
         @Html.DisplayNameFor(model => model.JudgeNotSubmitted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamID)
        </td>
        <td>
            @Html.ActionLink(item.TeamName, "TeamScores", new { teamID=item.TeamID,contestID = ViewBag.ContestID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @if (item.JudgeNotSubmitted==0)
            {

                <span>Final</span>

            }
            else
            {

                <span>Waiting for @Html.DisplayFor(modelItem => item.JudgeNotSubmitted) Judges</span>
            }

            
        </td>
    </tr>
}

</table>
