@model IEnumerable<Riipen_SSD.ViewModels.ParticipantViewModels.CriteriaDetailVM>

@{
    ViewBag.Title = "CriteriaDetials";
}
<link href="~/Styles/ParticipantDetailsResponsive.css" rel="stylesheet" />
<div class="header">
    
    @if (ViewBag.ContestName != null) {
    <div>Contest: @ViewBag.ContestName  &nbsp; &nbsp;</div>
    }

    @if (ViewBag.TeamName != null)
    {
        <div>Team: @ViewBag.TeamName &nbsp;&nbsp;</div>
    }

    @if (ViewBag.CriteriaName != null)
    {
        <div>Criteria: @ViewBag.CriteriaName</div>
    }


    @if (ViewBag.JudgesNotSubmitted != null)
    {

        <div>Waiting for  @ViewBag.JudgesNotSubmitted  judge </div>
    }
</div>


<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JudgeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
  
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @if (item.Score == null)
                    {
                        <span>Not Available</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Score)
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JudgeName)
                </td>
                <td>
                    @if (item.Comment == null)
                    {
                        <span>Not Available</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Comment)
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
