@model Riipen_SSD.ViewModels.ParticipantViewModels.TeamCriteriaVMList

@{
    ViewBag.Title = "TeamScores";
}

<h2>TeamScores</h2>

<div>
    <h4>TeamCriteriaVMList</h4>

    <table class="table">
        <tr>
            <th>
                Criteria
            </th>
            <th>
                Description
            </th>
            <th>
                Score
            </th>
        </tr>

        @foreach (var item in Model.teamCriteriaVMlist)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.CriteriaName, "CriteriaDetials", new {teamID=ViewBag.TeamID, contestID=ViewBag.ContestID,criteriaID =item.CriteriaID }) 
                </td>

                <td>
                    @item.Description
                </td>
                <td>
                 @item.Score                  
                </td>
            </tr>}
    </table>

    @if (Model.teamFeedbackVMList.Count() > 0)
    {

        <table class="table">
            <tr>
                <th>
                    Judge name
                </th>
                <th>
                    Feedback
                </th>

            </tr>

            @foreach (var item in Model.teamFeedbackVMList)
            {
                <tr>
                    <td>
                       @item.JudgeName
                    </td>

                    <td>
                       @item.Feedback
                    </td>        
                </tr>
            }
        </table>

    }

   
</div>

