@model Riipen_SSD.AdminViewModels.ContestDetailsVM

@{
    ViewBag.Title = "ContestDetails";
}
<link href="~/Styles/ContestDetailResponsiveTables.css" type="text/css" rel="stylesheet"/>
<h2>Contest details</h2>                                                                             

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

    </dl>
</div>
        <div class="contestScores">
        
        @Html.ActionLink("View Score", "Contest", "Judge", new { contestID = ViewBag.ContestID}, new {@class = "btn btn-primary" })
            
        </div>
<table class="judgeTable">
    <caption>Judges</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Judges.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Judges.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Judges.FirstOrDefault().Email)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Judges)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Email)
                </td>
            </tr>
        }
    </tbody>
    </table>

<table class="participantTable">
    <caption>Participants</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participants.FirstOrDefault().Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Participants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(x => item.LastName)
                </td>
                <td prewrap>
                    @Html.DisplayFor(x => item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>


@using (Html.BeginForm("SendEmails", "Admin", FormMethod.Post))
{
    
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>Model.ContestID)
    <button type="submit" class="btn btn-success publish-contest-btn">Publish Contest</button>
}
   

    <p class="button-group">
        @Html.ActionLink("Edit", "EditContest", new {  ContestID = Model.ContestID  }, new { @class="btn btn-warning"}) 
        @Html.ActionLink("Back to List", "Index", null,new { @class = "btn btn-info" })
        @Html.ActionLink("Select Winner","ContestScores", new { ContestID = Model.ContestID}, new { @class="btn btn-info"})
    </p>
