@model IEnumerable<Riipen_SSD.ViewModels.TeamCriteriaScoreVM>

@{
    ViewBag.Title = "contest";
}

<h2>contest</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>

        <th>
            @if (!User.IsInRole("Admin"))
            {
                @Html.DisplayNameFor(model => model.YourCurrentScore)
            }
            

        </th>
        <th>

            @Html.DisplayNameFor(model => model.FinalScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JudgeNotSubmitted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>            
            @if (item.YourCurrentScore == null)
            {
                if (!User.IsInRole("Admin"))
                {

                @Html.ActionLink("Judge Now", "Team", new { teamID = item.TeamID })
                }
            }
            else {
                @Html.DisplayFor(modelItem => item.YourCurrentScore)<span>/7</span>
            }
                
        </td>
        <td>
            @if (item.FinalScore == null)
            {
               <span>Not available</span>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.FinalScore)<span>/7</span>
            }
           
        </td>
        <td>
            @if (item.JudgeNotSubmitted == 0)
            {
               <span>Final</span>
            }
            else
            {
                <span>Waiting for @Html.DisplayFor(modelItem => item.JudgeNotSubmitted) judges</span>
            }
           

        </td>
        <td>
            @if (item.YourCurrentScore != null && !item.Submitted)
            {
                @Html.ActionLink("Submit Now", "Team", new { teamID = item.TeamID })

            }
            
        </td>
    </tr>
}

</table>
