@*@model IEnumerable<Riipen_SSD.ViewModels.TeamCriteriaScoreVM>*@
@model PagedList.IPagedList<Riipen_SSD.ViewModels.TeamCriteriaScoreVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "contest";
}

<p>Contest: @ViewBag.contestName</p>

@using (Html.BeginForm("Contest", "Judge", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <input name="contestID" value="@ViewBag.contestId" hidden/>
    <input type="text" name="searchATeam" value="@ViewBag.searchStringValue" placeholder="Search a team" style="border:1px solid #ddd;margin-top:10px">
    <button type="submit">Submit</button>
}



@if (ViewBag.searchStringValue == "")
{
    <h2>All teams</h2>
}
else
{
    <h2>Result for: @ViewBag.searchStringValue</h2> 
    <p>@Html.ActionLink("Get all teams","Contest", new { contestID=ViewBag.contestId})</p>
}


<div class="dropdown" style="margin-top:10px;margin-bottom:10px;float:right">
    Sort: <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="sortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        @ViewBag.sortStringValue
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sortMenu">
        <li>@Html.ActionLink("Status", "Contest", new {contestID= ViewBag.contestId, searchATeam = ViewBag.searchStringValue, sortTeams = "Status" })</li>
        <li>@Html.ActionLink("Name", "Contest", new { contestID = ViewBag.contestId,searchATeam = ViewBag.searchStringValue, sortTeams = "Name" })</li>
    </ul>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().TeamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ContestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TeamName)
        </th>

        <th>
            @if (!User.IsInRole("Admin"))
            {
                @Html.DisplayNameFor(model => model.First().YourCurrentScore)
            }
            

        </th>
        <th>

            @Html.DisplayNameFor(model => model.First().FinalScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().JudgeNotSubmitted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>            
            @if (item.YourCurrentScore == null)
            {
                if (!User.IsInRole("Admin"))
                {

                @Html.ActionLink("Judge Now", "Team", new { teamID = item.TeamID })
                }
            }
            else {
                @Html.DisplayFor(modelItem => item.YourCurrentScore)<span>/7</span>
            }
                
        </td>
        <td>
            @if (item.FinalScore == null)
            {
               <span>Not available</span>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.FinalScore)<span>/7</span>
            }
           
        </td>
        <td>
            @if (item.JudgeNotSubmitted == 0)
            {
               <span>Final</span>
            }
            else
            {
                <span>Waiting for @Html.DisplayFor(modelItem => item.JudgeNotSubmitted) judges</span>
            }
           

        </td>
        <td>
            @if (item.YourCurrentScore != null && !item.Submitted)
            {
                @Html.ActionLink("Edit Now", "Team", new { teamID = item.TeamID })

            }
            
        </td>
    </tr>
}

</table>


    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, contestID = ViewBag.contestId, searchATeam = ViewBag.searchATeam, sortTeams = ViewBag.sortTeams }))
    <span class="page-number">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </span>