@model Riipen_SSD.Models.ViewModels.CriteriaScoreVM

@{
    ViewBag.Title = "EditCriteriaScore";
}

<h2>EditCriteriaScore</h2>

<div>
    <h4>CriteriaScoreVM</h4>
   
    <form class="form" action="EditCriteriaScore" method="post">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Criteria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Criteria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
              Score:
            </dt>

            <dd>
              
                <select name="Score" required>
                    @for(int i=0;i<=7;i++){
                

                    <option value="@i">@i</option>
                    }
                </select>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                <textarea name="Comment" required>@Html.DisplayFor(model => model.Comment)</textarea>
            </dd>

        </dl>
        <input name="criteriaID" value="@Model.CriteriaID" hidden/>
        <input name="teamID" value="@ViewBag.TeamID" hidden />
        <input type="submit" value="Save"/>


        
    </form>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
