@model Riipen_SSD.Models.ViewModels.CriteriaScoreVM

@{
    ViewBag.Title = "EditCriteriaScore";
}

<h2>EditCriteriaScore</h2>

<div>
   @if (ViewBag.ContestName != null) {
       <p>Contest name: @ViewBag.ContestName</p>
   }


    @if (ViewBag.TeamName != null)
    {
        <p>Team name: @ViewBag.TeamName</p>
    }
    <form action="EditCriteriaScore" method="post">
        <input name="criteriaID" value="@Model.CriteriaID" hidden/>
        <input name="teamID" value="@ViewBag.TeamID" hidden />

        <dl class="dl-horizontal">
            @*<dt>
        @Html.DisplayNameFor(model => model.CriteriaID)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CriteriaID)
    </dd>*@

                <dt>
            @Html.DisplayNameFor(model => model.Criteria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Criteria)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.YourScore)
            </dt>

            <dd>
                @{
                    var checkValue = "";

                 }
                <div class="form-group">
                    <select name="Score" required class="form-control">
                        <option value="">Please enter a score</option>
                        @for (int i = 1; i <= 7; i++)
                        {
                            if (i == Model.YourScore) {
                                checkValue = "selected";
                            }
                            <option value="@i"  @checkValue>@i</option>
                            checkValue = "";
                        }
                    </select>
                </div>
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.CurrentScore)
                </dt>*@

            @*<dd>
                    @Html.DisplayFor(model => model.CurrentScore)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                <div class="form-group">
                    <textarea class="form-control input-sm" name="Comment" rows="5" required>@Html.DisplayFor(model => model.Comment)</textarea>
                </div>
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.JudgesNotSubmitted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.JudgesNotSubmitted)
                </dd>*@

            @*<dt>
                @Html.DisplayNameFor(model => model.Submitted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Submitted)
            </dd>*@
            <dt>
                &nbsp;
            </dt>

            <dd>
               <div class="form-group">
                   <input type="submit" name="Click" value="Save" class="form-control btn btn-primary btn-sm" />
               </div>
            </dd>
            <dt>
                &nbsp;
            </dt>

            <dd>
                <div class="form-group">
                    <input type="submit" name="Click" value="Submit" class="form-control btn btn-success btn-sm" />
                </div>
            </dd>
        </dl>
    </form>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
