@model Riipen_SSD.ViewModels.SingleJudgeCriteriaScoreVM

@{
    ViewBag.Title = "team";
}


<div>
  
    @if (ViewBag.TeamName != null)
    {
       <span>Team: </span> @ViewBag.TeamName <br />
    }

    @if (ViewBag.ContestName != null)
    {
    <span>Contest: </span>    @ViewBag.ContestName;
    }
   
    

    <form class="form" method="post" action="EditCriteriaScore">
        <input name="teamID" value="@ViewBag.TeamID" hidden/>
        <input name="contestID" value="@ViewBag.ContestID" hidden />
       

        <table class="table">
            <tr>
                <th>
                    Criteria
                </th>
                <th>
                    Description
                </th>
                <th>
                    Score
                </th>
                <th>
                    Comment
                </th>
            </tr>

            @{
                var counter = 0;
                var name = "";
            }
            @foreach (var item in Model.singleCriteriaScoreVMLlist)
            {
                <tr>
                    <td>
                        @item.CriteriaName
                    </td>
                    
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @{
                            name = "singleJugeCriteriaScoreVM.singleCriteriaScoreVMLlist[";
                            var checkValue = "";
                            var scoreName = name + counter.ToString() + "].Score";
                            var commentName = name + counter.ToString() + "].Comment";
                            var criteriaIdName = name + counter.ToString() + "].CriteriaID";
                            var teamIdName = name + counter.ToString() + "].TeamID";

                            counter++;

                        }
                       

                    <input name="@criteriaIdName" value="@item.CriteriaID" hidden/>    
                         <div style="position:relative">
                             <span style="float:left">Rotten</span>
                            @for (int i = 1; i < 8; i++)
                            {

                                if (item.Score == i)
                                {
                                    checkValue = "checked";
                                }
                                <div class="scoreDiv" style="float:left">
                                    <span>@i</span><br />
                                    <input type="radio" name="@scoreName" value="@i" @checkValue>
                                </div>
                                checkValue = "";




                            }
                            <span>Riipe</span>
                        </div>   


                    </td>
                    <td>
                       
                            <textarea name="@commentName" class="form-control">@item.Comment</textarea>
                    
                        

                    </td>

                </tr>}
        </table>

        <div class="dl-horizontal">
          
            @{ string PublicFeedback = "singleJugeCriteriaScoreVM.PublicFeedback";
                string PrivateFeedback = "singleJugeCriteriaScoreVM.PrivateFeedback";
            }
            <div class="form-group">              
                <label>Public Feedback</label>
               
                <div>
                    <textarea name=@PublicFeedback class="form-control">@Html.DisplayFor(model => model.PublicFeedback)</textarea>
                </div>
            </div>
            
            <div class="form-group">
                <label>Private Feedback</label>

                <div>
                    <textarea name=@PrivateFeedback class="form-control">@Html.DisplayFor(model => model.PrivateFeedback)</textarea>
                </div>
            </div>

          

        </div>
        <input name="SubmitOrSave" type="submit" value="Save"/>
        <input name="SubmitOrSave" type="submit" value="Submit"/>
    </form>
</div>
