@model IEnumerable<Riipen_SSD.Models.ViewModels.CriteriaScoreVM>

@{
    ViewBag.Title = "team";
}

<h2>@if(ViewBag.TeamName !=null){
    
    @ViewBag.TeamName 
    }
    


</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Criteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

            @Html.ActionLink(item.Criteria, "EditCriteriaScore", new { teamId=ViewBag.TeamID, CriteriaID = item.CriteriaID })
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)

           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @if(item.Score==null){
            @Html.ActionLink("Edit", "EditCriteriaScore", new { teamId=ViewBag.TeamID, CriteriaID = item.CriteriaID })
            }
           
          
        </td>
    </tr>
}

</table>
