@model IEnumerable<Riipen_SSD.Models.ViewModels.CriteriaScoreVM>

@{
    ViewBag.Title = "team";
}

<h2>team</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CriteriaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Criteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YourScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JudgesNotSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submitted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CriteriaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Criteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YourScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JudgesNotSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Submitted)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCriteriaScore", new { teamID = ViewBag.TeamID, criteriaID = item.CriteriaID })
        </td>
    </tr>
}

</table>
