@model IEnumerable<Riipen_SSD.Models.ViewModels.CriteriaScoreVM>

@{
    ViewBag.Title = "team";
}

<div class="Header">
    @if (ViewBag.TeamName != null)
    {

        <p>Team:&nbsp;&nbsp;@ViewBag.TeamName</p>
    }
    
    @if (ViewBag.ContestName != null)
    {
        <p>Contest:&nbsp;&nbsp;@ViewBag.ContestName</p>
    }    

</div>
    





<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Criteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Criteria)
           
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)

           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @if(item.Score==null){
            @Html.ActionLink("Edit", "EditCriteriaScore", new { teamId=ViewBag.TeamID, CriteriaID = item.CriteriaID }, new { @class = "btn btn-default btn-sm" })
            }
           
          
        </td>
    </tr>
}

</table>
