@model Riipen_SSD.ViewModels.SingleJudgeCriteriaScoreVM

@{
    ViewBag.Title = "team";
}


@section scripts{
    <script src="~/JavaScript/Judge_Team_form.js"></script>

}




<div>
    <div class="judge-team-score">
        @if (ViewBag.TeamName != null)
        {
            <span>Team: </span> @ViewBag.TeamName <br />
        }

        @if (ViewBag.ContestName != null)
        {
            <span>Contest: </span>    @ViewBag.ContestName;
        }
    </div>
    <div class="yourScoreDiv">
        <span>Total Score: </span><span class="yourScore"></span>
    </div>

    <form class="form" method="post" action="EditCriteriaScore">
        <input name="teamID" value="@ViewBag.TeamID" hidden />
        <input name="contestID" value="@ViewBag.ContestID" hidden />
        <table class="table">
            <tr>
                <th>
                    Criteria
                </th>
                <th>
                    Description
                </th>
                <th>
                    Score
                </th>
                <th>
                    Comment
                </th>
            </tr>

            @{
                var counter = 0;
                var name = "";
            }
            @foreach (var item in Model.singleCriteriaScoreVMLlist)
            {

                <tr>
                    <td>
                        @item.CriteriaName
                    </td>

                    <td>
                        @item.Description
                    </td>
                    <td>
                        @{
                            name = "singleJugeCriteriaScoreVM.singleCriteriaScoreVMLlist[";
                            var checkValue = "";
                            var scoreName = name + counter.ToString() + "].Score";
                            var commentName = name + counter.ToString() + "].Comment";
                            var criteriaIdName = name + counter.ToString() + "].CriteriaID";
                            var teamIdName = name + counter.ToString() + "].TeamID";

                            var ScoreID = "Score" + counter.ToString();

                            counter++;

                        }


                        <input name="@criteriaIdName" value="@item.CriteriaID" hidden />





                        <div style="position:relative">
                            <span style="float:left">Rotten</span>
                            @*@for (int i = 1; i < 8; i++)
            {

                if (item.Score == i)
                {
                    checkValue = "checked";
                }*@
                            @*<div class="scoreDiv" style="float:left">*@
                            @*<span>@i</span><br />
            <input type="radio" name="@scoreName" value="@i" @checkValue class="radioScore" required>*@
                            @*</div>
                checkValue = "";
            }*@

                            <div class="scoreDiv rating" style="float:left">
                                <input type="radio" id="star7" name="@scoreName" value="7" class="radioScore" /><label class="full" for="star7" title="Riipe - 7 stars"></label>
                                <input type="radio" id="star6" name="@scoreName" value="6" class="radioScore" /><label class="full" for="star6" title="Awesome - 6 stars"></label>
                                <input type="radio" id="star5" name="@scoreName" value="5" class="radioScore" /><label class="full" for="star5" title="Pretty good - 5 stars"></label>
                                <input type="radio" id="star4" name="@scoreName" value="4" class="radioScore" /><label class="full" for="star4" title="Not bad - 4 stars"></label>
                                <input type="radio" id="star3" name="@scoreName" value="3" class="radioScore" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2" name="@scoreName" value="2" class="radioScore" /><label class="full" for="star2" title="Kinda rotten - 2 stars"></label>
                                <input type="radio" id="star1" name="@scoreName" value="1" class="radioScore" /><label class="full" for="star1" title="Rotten - 1 star"></label>
                            </div>
                            <span>Riipe</span>

                            @{checkValue = "";
                            }
                        </div>
                    </td>
                    <td>
                        <textarea name="@commentName" class="form-control">@item.Comment</textarea>



                    </td>

                </tr>}
        </table>

        <div class="dl-horizontal">

            @{ string PublicFeedback = "singleJugeCriteriaScoreVM.PublicFeedback";
                string PrivateFeedback = "singleJugeCriteriaScoreVM.PrivateFeedback";
            }
            <div class="form-group">
                <label>Public Feedback</label>

                <div>
                    <textarea name=@PublicFeedback class="form-control">@Html.DisplayFor(model => model.PublicFeedback)</textarea>
                </div>
            </div>

            <div class="form-group">
                <label>Private Feedback</label>

                <div>
                    <textarea name=@PrivateFeedback class="form-control">@Html.DisplayFor(model => model.PrivateFeedback)</textarea>
                </div>
            </div>



        </div>
        <input class="btn-save" name="SubmitOrSave" type="submit" value="Save" />
        <input class="btn-submit" name="SubmitOrSave" type="submit" value="Submit" />
    </form>
</div>










